services:
  - type: web
    name: valleprimev2-api
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn api.index:app
    autoDeploy: true
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_SERVICE_ROLE_KEY
        sync: false
